* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(230,229,244);
    margin: 0 auto;
    text-align: center;
}

.header {
    margin: 15px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    gap: 10px;
    list-style-type: none;
    padding-top: 30px;
}


.button {
    font-size: 28px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(120,201,154);
    padding: 8px 12px;
    border-radius: 22px;
    transition: all 1s ease;
  }

  .button:hover {
    transform: scale(1.2);
    background-color: rgb(244, 124, 144);
    color: rgb(132, 9, 9);
  }



  .divitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 40px;
    padding: 10px 20px 10px 20px;
    margin-top: 46px;   
  }


  
  .blockitem {
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 182);
    color: aliceblue;
    font-size: 30px;
    transition: all 1s ease;
  }

  .blockitem:hover {
    transform: rotate(90deg);
  }
  

  .blockitem {
    background-color: rgb(84,11,130);
    color:blanchedalmond;
  }

  .ball {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: bounce 6s alternate linear infinite, moveLeft 6s alternate linear infinite;
  }

  .ball:hover {
    animation-play-state: paused;
  }

  @keyframes bounce {
    0% {bottom: 10%;}
    10% {
      bottom: 29%;
      background-color: aquamarine;
    }
  
    20% {
      bottom: 0%;
      background-color: rgb(10, 121, 53);
    
    }
    30% {
      bottom: 29%;
      background-color: rgb(13, 148, 145);
    
    }
    40% {
      bottom: 0%;
      background-color: rgb(187, 29, 218);
    }
  
    50% {
      bottom: 29%;
      background-color: rgb(151, 243, 46);
      }
    60% {
      bottom: 0%;
      background-color: rgb(243, 46, 46);
    }
    70% {
      bottom: 29%;
      background-color: rgb(47, 22, 22);
      
      }
     80% {
      bottom: 0%;
      background-color: rgb(243, 131, 196);
      
      }
    90% {
      bottom: 29%;
      background-color: rgb(176, 250, 213);
      }
    100% {
      bottom: 10%;
      background-color: rgb(68, 236, 39);
      }
    
  }
  @keyframes moveLeft {
    from {left: 18%;}
    to   {left: 78%;}
  }


